# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local
.env.*.local

# Virtual environments
venv/
env/
ENV/

# Node dependencies & build outputs
node_modules/
dist/
.DS_Store

# Backend temporary storage
backend/uploads/*
!backend/uploads/.gitkeep
